
/* Index.html*/
nav {
		background-color:white;
		height: 40px;
  font-size: 25px;
		}
		
		nav ul {
		
		}
 /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
    

		
		nav ul li {
		list-style-type: none;
			width: 150px;
			float: left;
			text-align: center;
		}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
		
	 li a {
		text-decoration: underline;
			color:black ;
			line-height: 40px;
			display:block;
			text-align: left;
}
		
		li a:hover {
			background-color:white;
			color: orange;
    }		

a:visited {
color: orange;
}

a:links {
color: black;
}

h1 {
color: Blue;
  text-align: center;
  font-size: 60px;
}

p {
color: black;
  font-size: 40px;
}

body {
background-color: pink;
}



/* About Page */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


img {
    max-width:75%;
    height:auto;
	text-align:center;
}






/* Prices.html */
li {
font-size: 25px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa {
  padding: 20px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 80%;
}

.lady{
  width: 482px;
  height: 324px;
}
 



h3 {
font-size: 75px;
float: right;
}


h4 {
font-size: 75px;
text-align: center;
color:blue;
}

h5 {
font-size: 25px;
}



.right {
float: right;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}








/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}
.caption {
 float: left;
 }

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}




/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 100%;
  padding: 5px;
}



/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}




